.layout {
  display: flex;
  padding: 20;
  margin: 20 auto;
}

.arcs {
  cursor: pointer;
}

.legend {
  margin: 20px auto;
  padding: 5%;
  box-sizing: border-box;
  background-color: #ebebeb;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.keys {
  color: white;
  padding: 5px;
  margin: 5px;
  flex-grow: 2;
}

.slide {
  -webkit-animation: puffInCenter 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) both;
  animation: puffInCenter 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) both;
}

@-webkit-keyframes puffInCenter {
  0% {
    -webkit-transform: scale(2);
    transform: scale(2);
    -webkit-filter: blur(4px);
    filter: blur(4px);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}
@keyframes puffInCenter {
  0% {
    -webkit-transform: scale(2);
    transform: scale(2);
    -webkit-filter: blur(4px);
    filter: blur(4px);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}
